.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: solid grey 5px;
    padding: 10px;
    border-radius: 15px;
    background-color:aquamarine;
}
button {
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.07s;
}
p{
    text-align: center;
}
.content{
    width: 300px;
    height: 350px;
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border:solid gray 5px;
    border-radius: 30px;
    gap: 15px;
    padding: 10px 0px;
    text-shadow: 1px 1px 2px white;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
img{
    width: 50px;
    height: auto;
    align-self: center;
}
.selected{
    transform: scale(1.1);
    border-color:aqua;
    box-shadow:0 0 10px aqua;
}
.header{
    border-radius: 15px;
    border: solid grey 5px;
    padding: 0px 15px;
    align-items: stretch;
    background-color: cadetblue;
}
.compChoice{
    width: 300px;
    height: auto;
    background-color:darkgrey;
    border: solid grey 5px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 2px yellow;
}